<div class="d-flex gap-1" data-testid="custom-calendar-day">
    <MudIcon Icon="@Icons.Material.Filled.Circle" Size="Size.Small" Color="((ColoredCalendarItem)Context).Color" />
    <div>@Context.Text</div>
</div>
